language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

install:
  - pip install .
  - pip install -r requirements.txt
  - pip install python-coveralls

# start the Flask server for our tests
before_script:
  - python -m tests.test_server &

script:
  - py.test --ignore=tests/functional/test_functional.py --ignore=tests/test_server.py --cov requests_ntlm --cov-report term-missing tests

after_success:
  - coveralls

